.about-container {
    text-align: center;
    padding: 50px 20px;
    background: #fafafa;
    color:#333;
}
.about-hero h1 {
    font-size: 2.5rem;
    color:#0d9488;
    margin-bottom: 15px;
}
.about-hero p {
    max-width:700px;
    margin:0 auto 40px;
    font-size: 1.1rem;
}
.about-mission ,
.about-vision  {
    margin-bottom: 40px;
}
.about-mission h2 ,
.about-vision h2 {
  color: #0d9488;
  margin-bottom: 10px;
}
.about-vision ul {
    list-style: none;
    padding: o;
}
.about-vision li {
    margin-bottom: 10px;
    font-size: 1.05rem;
}