.admin-container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.admin-table th,
.admin-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.admin-table th {
  background: #000;
  color: white;
}

.delete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}