.feature-detail {
    display: flex;
    flex-direction: column;
    align-items: centre ;
    padding: 60px 10%;
    background: #f9fafc;
    color: #222;
    text-align: center;
}
.feature-detail-imag {
    width: 80%;
    max-width: 600px;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.feature-detail-text h1 {
    color: #2b6777;
    margin-bottom: 15px;
}
.feature-detail-text p {
    font-size: 1.1rem;
    line-height:1.7;
    max-width: 700px;
}