.trainers-page{
  text-align: centre;
  padding: 50px 20px;
}

.trainers-title{
  font-size: 2rem;
  margin-bottom: 10px;
}

.trainers-subtitle{
  color: #555;
  margin-bottom: 40px;
}

.trainers-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 25px;
  justify-items: centre;
}

.trainers-card{
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 250px;
}

.trainer-card:hover{
  transform:translateY(-5px);
}

.trainer-card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}